<header>
	<div class="nav-table">
		<div class="long-title">
			<span class="all-goods">用户中心</span>
		</div>
		<div class="nav-cont">
			<ul>
			    <li class=""><a href="./index">基本信息</a></li>
				<li class=""><a href="./snsbinding">第三方账号</a></li>
				<li class=""><a href="./setting">安全设置</a></li>
			</ul>
			<div class="nav-extra">
			   <i class="am-icon-user-secret am-icon-md nav-user"></i><b></b><a href="${rc.contextPath}/logout">退出</a> <i class="am-icon-angle-right" style="padding-left: 10px;"></i>
			</div>
		</div>
	</div>
</header>